/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
a:hover {
  text-decoration: none;
  background: none;
  color: lightgrey;
}
.container {
  margin: auto;
  width: 60%;
  height: 100%;
}
h1 {
  font-family: "Century Gothic";
  text-align: center;
}
body {
  font-family: "Century Gothic";
}
th {
  color: white;
}
td {
  font-family: "Century Gothic";
  color: white;
}
table {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
}
p {
  text-align: center;
  font-family: "Century Gothic";
}
img {
text-align: center;
margin: auto;
width: 50%;
}
html {
  height: 100%;
}
i {
  width: 25%;
}
form {
  text-align: center;
