/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
a:hover {
  text-decoration: none;
  background: none;
  color: lightgrey;
}
.container {
  margin: auto;
  width: 60%;
  height: 100%;
}
h1 {
  font-family: "Century Gothic";
  text-align: center;
}
body {
  font-family: "Century Gothic";
  background-image: url("https://sharonmanship.files.wordpress.com/2013/04/whitelight-126212928_std1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
th {
  color: white;
}
td {
  font-family: "Century Gothic";
  color: white;
}
table {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);;
}
p {
  text-align: center;
  font-family: "Century Gothic";
}
img {
text-align: center;
margin: auto;
width: 50%;
}
html {
  height: 100%;
}
